RewriteEngine On
RewriteBase /

RewriteRule ^$ index.php [L]
RewriteRule ^login$ index.php [L]
RewriteRule ^dashboard$ index.php [L]
RewriteRule ^logout$ index.php [L]
RewriteRule ^register$ index.php [L]
RewriteRule ^contacts$ index.php [L]
RewriteRule ^contact$ index.php [L]
